name: Deploy to EC2

on:
  push:
    branches: ['main']

  pull_request:
    branches: ['main']
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Install nodejs
        uses: actions/setup-node@v6
        with:
          node-version: 22

      - name: Install Dependencies
        run: npm install

      - name: Build Application
        run: npm run build
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Install nodejs
        uses: actions/setup-node@v6
        with:
          node-version: 22

      - name: Install Dependencies
        run: npm install

      - name: Build Application
        run: npm run build

      - name: Configure SSH
        env:
          SSH_PRIVATE_KEY: ${{ secrets.EC2_SSH_PRIVATE_KEY }}
        run: |
          mkdir -p ~/.ssh
          echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H ${{ secrets.EC2_HOST }} >> ~/.ssh/known_hosts

      - name: Deploy to EC2
        env:
          EC2_USER: ${{ secrets.EC2_USER }}
          EC2_HOST: ${{ secrets.EC2_HOST }}
        run: |
          # Create deployment directory on EC2
          ssh $EC2_USER@$EC2_HOST "mkdir -p ~/app"
          # Copy files to EC2 instance.
          rsync -avz \
            --exclude 'node_modules' \
            --exclude '.github' \
            --exclude '.git' \
            . $EC2_USER@$EC2_HOST:~/app/

          # install production Dependencies on EC2
          ssh $EC2_USER@$EC2_HOST "
          source ~/.nvm/nvm.sh &&
          nvm use 22 &&
          cd ~/app &&
          npm install"


          # Stop existing PM2 process if it exists
          ssh $EC2_USER@$EC2_HOST "
          source ~/.nvm/nvm.sh &&
          nvm use 22 &&
          pm2 delete demo-node-app || true"

          # Append environment variables to .env file on EC2
          echo "$EC2_ENV" > ~/app/.env

          # Start the application using PM2
          ssh $EC2_USER@$EC2_HOST "
          source ~/.nvm/nvm.sh &&
          nvm use 22 &&
          cd ~/app &&
          pm2 start dist/server.js --name demo-node-app"
